<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./popup.css">
</head>

<body>
  <header id="popup_header">
    <img src="./grafana.png" id="popup_icon">
    <h1 id="popup_headline">Grafana<br>Timerange<br>Configurator</h1>
  </header>
  <div id="app">
    <section v-if="isGrafanaWindow">
      <div id="current_timerange">
        <div class="section_header">
          <h2>Current Timerange</h2>
        </div>
        <table class="time_range_table">
          <tbody>
            <tr>
              <td id="current_from" class="time_cell">{{current_from}}</td>
              <td class="range_cell"> - </td>
              <td id="current_to" class="time_cell">{{current_to}}</td>
            </tr>
          </tbody>
        </table>
        <button id="store_current_timerange" @click="store">Store current timerange</button>
      </div>
      <div id="history_header" class="section_header">
        <h2 id="history_title">Stored Timerange Hitory</h2>
        <button @click="clearAll" v-if="history.length != 0">Clear all</button>
      </div>
      <div id="history_body" v-if="history.length != 0">
        <div class="history_item" v-for="item in history" :key="item.uuid" v-bind:id="'div_'+item.uuid">
          <history-label :label="item.label" :uuid="item.uuid" @update="update"></history-label>
          <table class="time_range_table">
            <tbody>
              <tr>
                <td class="time_cell">{{ epochToStr(item.from) }}</td>
                <td class="range_cell"> - </td>
                <td class="time_cell">{{ epochToStr(item.to) }}</td>
              </tr>
            </tbody>
          </table>
          <div class="history_actions">
            <button v-on:click="recall" v-bind:id="'recall_'+item.uuid">recall</button>
            <button v-on:click="remove" v-bind:id="'remove_'+item.uuid">remove</button>
          </div>
        </div>
      </div>
      <div id="history_body_empty" v-else>
        No history stored
      </div>
    </section>
    <section v-else>
      this window is not grafana page.
    </section>
  </div>
</body>
<script src="./vue.min.csp.js"></script>
<script lang="text/javascript" src="./popup.js"></script>

</html>