body{
  background: rgb(23,24,25);
  color: rgb(215,218,218);
  width: 360px;
  margin:5px;
}

#popup_header{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 160px;
  margin-bottom: 10px;
  border-bottom: orange 3px solid;
}
#popup_icon{
  width: 60px;
  height:60px;
}

#popup_headline{
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
}

h2{
  margin-top : 15px;
}
.section_header{
  border-bottom: 1px solid orange;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.time_range_table{
  margin:5px auto;
}

.time_cell{
  width : 160px;
  text-align: center;
}
.range_cell{
  width:20px;
  text-align: center;
}

#store_current_timerange{
  display: block;
  margin: auto;
}

#history_header{
  margin-top:10px;
}
#history_title{
  display: inline-block;
  margin-right: 20px;
}

#history_body{
  max-height: 240px;
  overflow-y: scroll;
}
#history_body_empty{
  text-align: center;
}

.history_item{
  padding: 10px;
}

.history_item:not(:last-child){
  border-bottom: 1px silver solid;
}

.history_actions{
  text-align: right;
}